.title {
  font-size: 30px;
  font-weight: 600;
}

.list {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  color: #333;
}

.item {
  margin-bottom: 20px;
}

.item:last-child {
  margin-bottom: 0;
}

.key {
  font-weight: bold;
  display: inline-block;
  width: 200px;
}

.value {
}

:global(body.dark-mode) .title {
  color: #fff;
}

:global(body.dark-mode) .list {
  background: #0a0a0a;
  color: #ffffffd9;
}
